<launch>
	<!--******************* Simulation Configuration Parameters **********************************-->
	<!--Set number of robots to use.  1-9 robots can be selected -->
	<arg name="number_of_robots" value = "3" />
	
	<!--Choose Map File(Map must be in gen2_maps/maps folder).  Must also change in stage world file -->
	<arg name="map_yaml_file" value = "drawn_map.yaml" />
	
	<!--******************** END Simulation Configuration Parameters *****************************-->

	<!-- Set global paramters -->
	<param name="/use_sim_time" value="true"/>
	<param name="/num_robots" value = "$(arg number_of_robots)" /> 	
	
	<!-- Launch Map Server, Stage Simulator, and Global Frontier nodes.  Also Rviz -->
	<include file="$(find gen2_sim)/launch/sim_global.launch" >
		<arg name="mapFile" value="$(arg map_yaml_file)" />
	</include>
	
	<include file="$(find gen2_sim)/launch/launch_$(arg number_of_robots).launch" />
	
	
</launch>
