<!--Launch base robot nodes (robot.launch) -->

<launch>
	<!-- Start static transforms -->
    <include file="$(find gen2_launch)/launch/transforms.launch" />
    
	<!-- Launch Rosserial -->
    <include file="$(find gen2_launch)/launch/arduino.launch" />
    
	<!-- Launch Diff-Drive -->
    <include file="$(find gen2_launch)/launch/diff_drive.launch" />
</launch>
