<!--
Author: Brian Pappas
Last Update: 8-5-2013
Description:  Launch three simulated robots for use with STAGE
-->


<launch>
	<!--Inlcude Robot Model -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find gen2_description)/urdf/gen2.xacro'" />
	
	<group ns="Larry">
		<param name="tf_prefix" value="Larry" />
		<node pkg="robot_state_publisher" type="robot_state_publisher"
			name="robot_state_publisher" output="screen">
			<param name="publish_frequency" type="double" value="10.0" />
		</node>
	</group>
	

	<node pkg="tf" type="static_transform_publisher" name="link_to_sim" args="0 0 0 0 0 0 robot_0/odom Larry/base_footprint 100" />
	
	
</launch>
